.categoryItem {
    background-color: rgb(223, 181, 181);
    
    width: 100%;
    margin: 0 3rem 0 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    margin: 1rem;
    width: 75%;
}

h2 {
    text-align: center;
    padding: 0.5rem 0 0.5rem 0;
}

p {
    padding: 0 1rem 0 1rem;
}